#logo{
    width: 100px; 
    height: 100px; 
    float: left; 
 }
 header,footer{
    display: flex;
    flex-direction: row;
    max-width:100%;

    color:rgb(48, 28, 49);
    border: 5px outset rgb(133, 20, 131);
    background-color: rgb(253, 217, 245);
    font: 45px arial italic;
}
nav,body,#tabform{
    display: flex;
    flex-direction: column;
}
#content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width:100%;
    background-color: rgb(253, 224, 255);
}
table{
    border: 1px solid grey;
    border: outset rgb(133, 20, 131);
    background-color: rgb(253, 224, 255);
    margin: 0 auto; 
}
#form{
    order: 1;
}
#tab{
    order: 2;
}
@media screen and (min-width: 800px) {
    nav{
        display: flex;
        flex-direction: row;
    }
    #content{
        max-width: 850px;
        margin: 0 auto; 
        margin-top:20px;
        padding:10px;
    }
    #form{
        order: 2;
    }
    #tab{
        order: 1;
    }
  }
  h1,h2,h3{
    text-align: center;
  }
th {border: 1px solid grey;}
td {border: 1px solid grey;}
tbody tr:nth-child(odd) {background-color:rgb(226, 175, 217);}
tbody tr:nth-child(even) {background-color: rgb(239, 190, 238);}
html{ background-color: rgb(220, 201, 213);}
